{{#>layout title="Edit Project"}}
    <main>
      <section class="blog-form">
        <form action="/update-project/{{data.id}}?_method=PATCH&image={{ data.image }}" method="post" class="container-form">
          <h1 class="section-title">Edit MY PROJECT</h1>
          <div class="from-field">
            <label for="input-project-title" class="form-label"
              >Project Name</label
            >
            <input
              id="inputTitle"
              name="inputTitle"
              class="form-input"
              type="text"
              value="{{data.title}}"
              required
            />
          </div>
          <div class="from-field">
            <label class="form-label" for="input-project-content"
              >Description</label
            >
            <textarea
              id="inputContent"
              name="inputContent"
              class="form-input"
              rows="8">{{data.content}}</textarea>
          </div>

          <div class="checkbox_input" required>
            <label class="form-label" for="input-blog-content"
              >Technology</label
            >
            <div class="column">
              <div class="checkbox_input">
                <input
                  class="checkbox"
                  type="checkbox"
                  id="angular"
                  name="angular"
                  value="Angular"
                  {{#if angular}}checked{{/if}}
                />
                <label for="Angular">Angular</label><br />
                <input
                  class="checkbox"
                  type="checkbox"
                  id="nodeJs"
                  name="nodeJs"
                  value="NodeJs"
                   {{#if node}}checked{{/if}}
                />
                <label for="nodeJs"> Node Js</label><br />
              </div>
              <div class="checkbox_input">
                <input
                  class="checkbox"
                  type="checkbox"
                  id="react"
                  name="react"
                  value="React"
                   {{#if react}}checked{{/if}}
                />
                <label for="react"> React</label><br />
                <input
                  class="checkbox"
                  type="checkbox"
                  id="vueJs"
                  name="vueJs"
                  value="VueJs"
                   {{#if vue}}checked{{/if}}
                />
                <label for="vueJs"> Vue Js</label><br />
              </div>
              </div>
            </div>
          <div class="from-field">
            <label for="input-project-image" class="form-label"
              >Upload Image</label
            >
            <div class="input-blog-image-group">
              <label for="input-project-image">
                <p>choose</p>
                <img class="fileImg" src="/assets/img/file.png" />
              </label>
              <input
                id="input-project-image"
                name="image"
                class="form-input"
                type="file"
                placeholder="title"
                hidden
              />
            </div>
          </div>

          <div class="button-group">
            <button onclick="buttonsave()" class="from-submit-button" type="submit">Save Project</button>
          </div>
        </form>
      </section>
    </main>
    <script>
      function buttonsave(){
        event.preventDefault();
        const form= event.target.form;
     Swal.fire({
  title: "Do you want to save the changes?",
  showDenyButton: true,
  showCancelButton: false,
  confirmButtonText: "Save",
  denyButtonText: `Don't save`
}).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {
    Swal.fire("Saved!", "", "success");
     setTimeout(()=>{

    form.submit();
    },1500)
  } else if (result.isDenied) {
    Swal.fire("Changes are not saved", "", "info");
  }
});

  }

    </script>
    <script src="/assets/javascript/btn.js" ></script>
    <script src="/assets/javascript/sweetalert.min.js" ></script>

{{/layout }}