{{#> layout title="Home" }}
<main>
  <div class="card-container">
    <div class="info-card">
      <h1 id="heading">Tajjduddiin Personal Website</h1>
      <p>
        My name is Tajjuddiin Auliya Ahaadiin, I am a bachelor's degree graduate
        in informatics engineering at Malang State University. I have
        contributed to several website projects such as creating online expos
        based on Unity 3D, HTML, CSS and Javascript. In my expirience building
        project, I started to learn about website and application development as
        well as gamification. With this background, I hope to collaborate with
        great talents and companies to make the application and software.
      </p>
      <button><a href="contact">contact</a></button>
      <a id="downloadCv" href="/assets/downlad.pdf">downloadCV</a>
      <div class="social-card">
        <a href="https://www.linkedin.com/in/tajjahaadiin/"><img
            src="assets/images/linkedin-in-svgrepo-com.svg"
            alt="linkedin logo"
            class="social-item"
          /></a>
        <a href="https://www.instagram.com/tajjuddiin/"><img
            src="/assets/images/instagram-svgrepo-com.svg"
            alt="instagram logo"
            class="social-item"
          /></a>
        <a href="#"><img
            src="/assets/images/twitter-svgrepo-com.svg"
            alt="twitter logo"
            class="social-item"
          /></a>
        <a href="https://github.com/Tajjahaadiin"><img
            src="/assets/images/github-svgrepo-com.svg"
            alt="github logo"
            class="social-item"
          /></a>
      </div>
    </div>
    <div class="photo-card">
      <img src="/assets/images/profil.jpg" alt="Photo profile" />
      <h2>Tajjuddiin Auliya Ahaaadiin</h2>
      <p>Fullstack Developer</p>
    </div>
  </div>
</main>

{{/layout}}
